<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart Computer List | Session Cookie for Nhat Huy Chaien Nguyen | Java Web Backend Developemt and Spring MVC</title>
</head>
<body>
    <p>
        <a href="">Your Cart</a>
    </p>
    <table id="customers" border="1">
        <tr>
            <td>STT</td>
            <td>Code</td>
            <td>Name</td>
            <td>Type</td>
        </tr>
        <th:block th:each></th:block>
    </table>
</body>
</html>